html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.background {
    background-color: rgb(0, 0, 0);
}

.wrapper {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper__picture {
    width: 100%;
    height: 250px;
    display: block;
}

.navigation {
    overflow: hidden;
}

.navigation__button {
    display: block;
    float: left;
    width: 25%;
    padding: 15px 30px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all 1s ease;
}

.navigation__button:hover {
    background-color: rgb(122, 5, 28);
    font-size: 19px;
}

.main {
    margin: 20px 10% 30px 10%;
    padding: 40px 0 0;
}

.main__title {
    text-align: center;
    margin: 0px 10% 40px;
    border-bottom: 2px solid darkblue;
    padding-bottom: 15px;
    font-size: 30px;
}

.main__paragraf {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 15px;
}
.main__paragraf-background {
    width: 100%;
    background-image: url("../Picture/Pictures/tło.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

.main__picture {
    float: left;
    height: 200px;
    padding-right: 8px;
    padding-bottom: 3px;
}

.inframe {
    width: 100%;
}

.bottom {
    font-size: 18px;
    line-height: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 800px) {
    .navigation__button {
        width: 50%;
        font-size: 22px;
    }
}

@media (max-width: 500px) {
    .navigation__button {
        width: 100%;
        font-size: 22px;
    }
}